/**
 * Jorge Lauro Campos Rodrigues <jorgerodrigues9@outlook.com
 */

html,
body {
    height: 100%;
}

/* The box component */
.box {
    width: 100%;
    height: 100%;
    display: table;
}

.box .top,
.box .middle,
.box .bottom {
    width: 100%;
    display: table-row;
}

.box .middle {
    height: 100%;
}

.box .top .content,
.box .middle .content,
.box .bottom .content {
    padding-right: 3%;
    padding-left: 3%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.is-vertical-align-top {
    vertical-align: top;
}

.is-vertical-align-bottom {
    vertical-align: bottom;
}

/* BEM PATTERN - block, element, modifier  */

.pbox {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

.pbox__top,
.pbox__middle,
.pbox__bottom {
    width: 100%;
    display: table-row;
}

.pbox__middle {
    height: 100%;
}

.pbox__top--content,
.pbox__middle--content,
.pbox__bottom--content {
    padding-right: 3%;
    padding-left: 3%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.pbox .pbox__top--vertical-align-top,
.pbox .pbox__middle--vertical-align-top,
.pbox .pbox__bottom--vertical-align-top {
    vertical-align: top;
}

.pbox .pbox__top--vertical-align-bottom,
.pbox .pbox__middle--vertical-align-bottom,
.pbox .pbox__bottom--vertical-align-bottom {
    vertical-align: bottom;
}

/* The navbar component */
/* BEM PATTERN - block, element, modifier  */
.pnavbar-top {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

.pnavbar-top .pnavbar-top__brand,
.pnavbar-top .pnavbar-top__groups,
.pnavbar-top .pnavbar-top__up {
    vertical-align: middle;
    display: table-cell;
}

.pnavbar-top .pnavbar-top__up--link {
    display: inline-block;
}

.pnavbar-top .pnavbar-top__up--icon {
    padding-right: 30px;
    width: 60px;
}

/* The brand component */
/* BEM PATTERN - block, element, modifier  */

/* Featured */

.pfeatured {
    background-color: #090909;;
}

.pfeatured .pfeatured__box {
    margin: 1px
}

.pfeatured .pfeatured__box--brand {
    margin-top: 5%;
    width: 300px;
}

.pfeatured .pfeatured__box--line {
    margin: 4px 0;
    font-size: 3em;
}

.pfeatured .pfeatured__pdown {
    margin:  0;
    text-align: center;
}

.pfeatured .pfeatured__pdown--link {
    margin: 1px auto;
    width: 60px;
    display: inline-block;
}

.pfeatured .pfeatured__pdown--icon {
    width: 100%;
    animation: down 1.5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
}

/* W */
@media (max-width: 300px) {
    .pfeatured .pfeatured__box--brand {
        width: 100px;
    }

    .pfeatured .pfeatured__box--line {
        font-size: 0.5em;
    }

    .pfeatured .pfeatured__pdown--link {
        width: 60px;
    }
}

@media (min-width: 301px) and (max-width: 400px) {
    .pfeatured .pfeatured__box--brand {
        width: 140px;
    }

    .pfeatured .pfeatured__box--line {
        font-size: 1.5em;
    }

    .pfeatured .pfeatured__pdown--link {
        width: 60px;
    }
}

@media (min-width: 401px) and (max-width: 500px) {
    .pfeatured .pfeatured__box--brand {
        width: 170px;
    }

    .pfeatured .pfeatured__box--line {
        font-size: 2em;
    }

    .pfeatured .pfeatured__pdown--link {
        width: 60px;
    }
}

/* H */
@media (max-height: 300px) {
    .pfeatured .pfeatured__box--brand {
        width: 100px;
    }

    .pfeatured .pfeatured__box--line {
        font-size: 0.5em;
    }

    .pfeatured .pfeatured__pdown--link {
        width: 40px;
    }
}